In [27]:
pip install tabula-py openpyxl pandas numpy

Requirement already satisfied: tabula-py in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (2.9.0)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: pandas in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (2.2.0)
Requirement already satisfied: numpy in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (1.24.1)
Requirement already satisfied: distro in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (from tabula-py) (1.9.0)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\manyu\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
import tabula
import numpy as np

In [4]:
table_pdf = tabula.read_pdf("table.pdf", pages=1)

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'
C:\Users\manyu\AppData\Local\Programs\Python\Python310\lib\site-packages\tabula\io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [5]:
table_pdf

[    Unnamed: 0    Unnamed: 1 Unnamed: 2   Unnamed: 3    Unnamed: 4  \
 0          NaN           NaN        NaN      Ballots           NaN
 1   Disability           NaN    Ballots          NaN           NaN
 2          NaN  Participants        NaN  Incomplete/           NaN
 3     Category           NaN  Completed          NaN      Accuracy
 4          NaN           NaN        NaN   Terminated           NaN
 5          NaN           NaN        NaN          NaN           NaN
 6        Blind             5          1            4    34.5%, n=1
 7   Low Vision             5          2            3     98.3% n=2
 8          NaN           NaN        NaN          NaN  (97.7%, n=3)
 9    Dexterity             5          4            1    98.3%, n=4
 10    Mobility             3          3            0    95.4%, n=3

             Results
 0               NaN
 1               NaN
 2               NaN
 3           Time to
 4               NaN
 5          complete
 6     1199 sec, n=1
 7     1716 sec, n=3
 8   (1934 sec, n=2)
 9   1672.1 sec, n=4
 10    1416 sec, n=3  ]

In [6]:
df = table_pdf[0]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Results
0,NaN,NaN,NaN,Ballots,NaN,NaN
1,Disability,NaN,Ballots,NaN,NaN,NaN
2,NaN,Participants,NaN,Incomplete/,NaN,NaN
3,Category,NaN,Completed,NaN,Accuracy,Time to
4,NaN,NaN,NaN,Terminated,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,complete
6,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
7,Low Vision,5,2,3,98.3% n=2,"1716 sec, n=3"
8,NaN,NaN,NaN,NaN,"(97.7%, n=3)","(1934 sec, n=2)"
9,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
10,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"

In [19]:
cols = list(df.iloc[:6].apply(lambda x: " ".join([str(i) for i in x if i is not np.NAN])))
cols

['Disability Category',
 'Participants',
 'Ballots Completed',
 'Ballots Incomplete/ Terminated',
 'Accuracy',
 'Time to complete']

In [20]:
df1 = df.iloc[6:]
df1

    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3    Unnamed: 4          Results
6        Blind          5          1          4    34.5%, n=1    1199 sec, n=1
7   Low Vision          5          2          3     98.3% n=2    1716 sec, n=3
8          NaN        NaN        NaN        NaN  (97.7%, n=3)  (1934 sec, n=2)
9    Dexterity          5          4          1    98.3%, n=4  1672.1 sec, n=4
10    Mobility          3          3          0    95.4%, n=3    1416 sec, n=3

In [21]:
df1.columns = cols

In [23]:
df1.fillna(method='ffill', inplace=True)

C:\Users\manyu\AppData\Local\Temp\ipykernel_18252\3373723494.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1.fillna(method='ffill', inplace=True)
C:\Users\manyu\AppData\Local\Temp\ipykernel_18252\3373723494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.fillna(method='ffill', inplace=True)

In [25]:
df1

,Disability Category,Participants,Ballots Completed,Ballots Incomplete/ Terminated,Accuracy,Time to complete
6,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
7,Low Vision,5,2,3,98.3% n=2,"1716 sec, n=3"
8,Low Vision,5,2,3,"(97.7%, n=3)","(1934 sec, n=2)"
9,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
10,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"

In [28]:
df1.to_excel('demo_pdf.xlsx')